################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharpVariousDotNetFeatures/HealthChecks/bin
/CSharpVariousDotNetFeatures/HealthChecks/obj
